.container{
    
    background-color: rgb(226, 248, 248);
    /* margin-bottom: 400px; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    margin-top: 50px;

}
input{
    background-color: rgb(227, 244, 244);
}
label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    width: 120px;
}
.form-control{
 width: 700px;
}
select{
    width: 700px;
    background-color: rgb(227, 244, 244);
}
/* display: flex; */
    /* height: 100vh; */
    /* align-items: center; */

    /* justify-content: center;  */
    /* width: 1900px; */