<!-- <p>footer works!</p> -->

<footer class="footer text-center text-light  py-4 mt-4 ">
    <div class="footer-content">
        <div class="bottom-bar">
            <div class="container rights-reserved" style="padding-left:45px;">
                <small class="copyright">
                    Copyright ©<a target="_blank" rel="noopener noreferrer" href="#"> VAXXXINOVA</a>
                </small>
                - 
                 <a href="#" target="_blank" rel="noopener noreferrer"> Privacy Policy</a> 
                <span> | </span>
                <a href="#" target="_blank" rel="noopener noreferrer"> Terms of use</a>
            </div>
        </div>
    </div>
</footer>
