.icon{
    height: 60px;
}
.navbar{
    
    background-color: rgb(101, 183, 208);
    }
    .nav-link  {
        background-color: rgb(101, 183, 208);
        font-size: large;
        /* margin-left: 10px; */
    
    }
    .nav-item {
        background-color: rgb(101, 183, 208);
    
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    
      /* .name{ */
        /* box-shadow: 5px 3px 8px #46a9d1; */

      /* } */
      a{
        text-decoration: none;
      }
