<!-- <p>home works!</p> -->
<app-header></app-header>
<!-- <app-citizen-list></app-citizen-list> -->
<!-- <app-register></app-register> -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/im1.jpg" height="600px"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to VAXXXINOVA</h2>
        <p>You can check the status of vaccination. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nesciunt laboriosam alias. Nisi sunt aut perspiciatis odio hic saepe nostrum eaque! Nesciunt ipsam tenetur beatae, necessitatibus dignissimos voluptatibus dolorem libero quae, ab in modi error.  </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/im2.jpg" height="600px"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Free COVID Precaution Dose</h2>
        <p>Now Precaution dose for 18-59 age group free at Government Vaccination Centre Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet dolor sunt numquam blanditiis, quia quidem. Sunt quisquam obcaecati quibusdam rem, maxime praesentium, impedit expedita doloribus accusantium dicta saepe vero asperiores neque ut dolores temporibus officia assumenda id quidem eveniet soluta autem est, corrupti sequi? Praesentium. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/im3.jpg" height="600px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Share Your Vaccination Status</h2>
        <p>
          Be a Fighter! If you are fully or partially vaccinated, you can now share your vaccination status in your social circle. Let's encourage our friends and followers in joining India's battle against COVID-19 Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro laborum est, quibusdam provident enim praesentium corrupti voluptatum eos optio. Laboriosam dignissimos quasi error itaque eveniet! Eaque aspernatur ipsum accusantium quod obcaecati in ducimus tempore? Odit, rerum incidunt harum facilis sint natus consequuntur ipsam nam. </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div id="services mb-4">
  <div class="container shadow mt-4">
    <a href="">
      <h3 class="headings">Lorem ipsum dolor sit amet.</h3>
    </a>
    <div class="content">

      <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad harum esse iste? Ducimus iusto sapiente odit modi. Ipsum, quos? Ipsam rem quo tempora blanditiis tenetur, dolores voluptatibus quibusdam.
      </p>
    </div>
  </div>


  <div class="container shadow mt-4">
    <a href="">
      <h3 class="headings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, inventore! </h3>
    </a>

    <div class="content">

      <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit earum, odit illo rerum explicabo nostrum debitis dolorem vel quam facilis quo eligendi culpa blanditiis.
      </p>
    </div>
  </div>


  <div class="container shadow mt-4">
    <a href="">
      <h3 class="headings">Lorem ipsum dolor, sit amet consectetur adipisicing.
      </h3>
    </a>
    <div class="content">
      <img src=".." alt="">
      <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit labore ut dolorum illum perspiciatis maxime quas dignissimos explicabo quam nisi odit exercitationem sit veniam facilis saepe ea qui corrupti sed, perferendis nobis eius. Obcaecati.
      </p>
    </div>
  </div>


  <div class="container shadow mt-4">
    <a href="">
      <h3 class="headings">Lorem ipsum dolor sit.

      </h3>
    </a>
    <div class="content">
      <img src=".." alt="">
      <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vel sit, culpa odit dignissimos repudiandae deserunt libero officiis tempore dicta, eveniet laborum. Harum fuga blanditiis recusandae provident ratione perferendis unde rerum nostrum!

      </p>
    </div>
  </div>


  <div class="container shadow mt-4  mb-4">
    <a href="">
      <h3 class="headings">Personal Loan</h3>
    </a>
    <div class="content">
      <img src=".." alt="">
      <p class="para">Flexible borrowing product used to finance short-term borrowing needs.

        Secured by a CD or Savings Account
        Minimum amount $1,000
        Please contact your local Customer Service Representative for more details.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>